{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container grow">
    {% for product in products %}
    <div class="container">
        <div class="list-group w-auto d-flex flex-row">
            <a href="{{product.get_absolute_url}}" class="list-group-item list-group-item-action d-flex gap-4" aria-current="true">
            <img src="{% static 'images/logos/mushroom-color.png' %}" width="40px" height="40px" alt="twbs" class="rounded-circle flex-shrink-0 my-auto">
            <div class="d-flex-inline align-items-center">
                <h6 class="my-auto text-decoration-underline">{{product.name}}</h6>
                <div class="d-flex align-items-center flex-row pt-2">
                  <span class="h6 my-auto">3 x {{product.price}}€ = </span>
                  <span class="h6 my-auto">22.50€</span>
                </div>
            </div>
            </a>
            <a href="#" class="text-dark text-decoration-none my-auto">
              <img src="{% static 'images/logos/delete.png' %}" alt="twbs" width="48px" height="48px" class="rounded-circle flex-shrink-0">
            </a>
        </div>
        <hr style="border-top: 3px solid black">
    </div>
    {% endfor %}
    <div class="container d-flex justify-content-center pt-3">
      <a href="{% url 'store:checkout' %}" class="btn btn-outline-primary w-100">Suma: 138€ </a>
      <img src="{% static 'images/logos/ok-hand.svg' %}" alt="jusciogrybai" class="ms-3" width="48" height="48">
    </div>
  </div>
{% endblock %}