{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center">
        <div class="d-flex flex-column">
        <h3 class="fw-bold text-center pb-lg-5 align-self-center">Žiauriausi grybai Klaipėdoje</h3>
        <p class="fw-bold text-center pb-lg-5 align-self-center">East Asian mushrooms and fungi are often used in East Asian cuisine, either fresh or dried. According to Chinese traditional medicine, many types of mushroom affect the eater's physical and emotional wellbeing.</p>
        </div>
        <img class="img-fluid front-img" src="{% static 'images/home_page_mushroom.jpg' %}">
    </div>
    <div class="d-flex justify-content-center">
        <a type="button" href="{% url 'store:all_categories' %}" class="btn btn-outline-primary w-100">Apsipirkti</a>
    </div>
</div>
{% endblock %}